body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}


main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sr-only {
position: absolute ;
left: -10000px;
width: 1px;
height: 1px;
top: auto;
overflow: hidden;
}


/* TOGGLE  */

.toggle {
    display: flex;
    align-items: center;
}

.toggle span {
    font-size: 12px;
    margin-right: 20px;
}

.tri-state-toggle input {
    height: 15px;
    width: 15px;
    appearance: none;  
    border-radius: 50%;
    opacity: 0;
    margin-top: 0;
}

.tri-state-toggle label {
    font-size: 11px;
}


.tri-state-toggle #label-one {
    position: absolute;
    top: -15px;
    left: 11px;
}

.tri-state-toggle #label-two {
    position: absolute;
    top: -15px;
    left: 33px; 
}

.tri-state-toggle #label-three {
    position: absolute;
    top: -15px;
    right: 8px; 
}

.tri-state-toggle input {
    cursor: pointer;
}

.tri-state-toggle {
    display: flex;
    justify-content: center;
    border-radius: 50px;
    position: relative;
    padding: 2px;
    align-items: center;
}

#one {
    opacity: 1;
}


/* CALCULATOR  */


.calculator {
    width: 430px;
    margin: 0 auto;
    height: 80%;
}

.calculator-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.calculator-head p {
    font-size: 30px;
}


.result {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
}



.result span {
    font-size: 50px;
    font-weight: 700;
    margin-right: 30px;
}


.keys-box {
    padding: 20px 20px;
    margin: 30px 0;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, minmax(60px, 1fr));
    gap: 20px;
    grid-template-rows: repeat(5, minmax(50px, 1fr));
}



.keys {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}


#point {
    align-items: flex-end;
}


#delete {
    font-size: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}



#reset {
    grid-column: 1 / 3;
    grid-row: 5;
    font-size: 22px;
}





#egal {
    grid-column: 3 / 5;
    grid-row: 5;
    font-size: 22px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}







/* THEME 1  */

main.theme1 {
    background-color: hsl(222, 26%, 31%);
}

/* TOGGLE  */

main.theme1 .toggle span {
    color: white;
}

main.theme1 .tri-state-toggle input {
    background-color: hsl(6, 63%, 50%);
}

main.theme1 .tri-state-toggle {
    background-color: hsl(223, 31%, 20%);
}

main.theme1 .tri-state-toggle label {
    color: white;
}

/* CALCULATOR  */


main.theme1 .calculator-head p {
    color: white;
}

main.theme1 .result {
    background-color: hsl(224, 36%, 15%);
    color: white;
}

main.theme1 .keys-box {
    background-color: hsl(223, 31%, 20%);
}

main.theme1 .keys {
    background-color: hsl(30, 25%, 89%);
    box-shadow: 0px 4px 0px hsl(28, 16%, 65%);
    color: hsl(221, 14%, 31%);
}

main.theme1 .keys:hover {
    background-color: white;
}

main.theme1 #delete, main.theme1 #reset {
    background-color: hsl(225, 21%, 49%);
    box-shadow: 0px 4px 0px hsl(224, 28%, 35%);
    color: white;
}


main.theme1 #reset:hover,
main.theme1 #delete:hover {
    background-color: hsla(224, 51%, 76%, 1);
    ;
}

main.theme1 #egal {
    background-color: hsl(6, 63%, 50%);
    box-shadow: 0px 4px 0px hsl(6, 70%, 34%);
    color: white;
}

main.theme1 #egal:hover {
    background-color: hsla(6, 93%, 67%, 1);
}






/* THEME 2  */

main.theme2 {
    background-color: hsl(0, 0%, 90%);
}

/* TOGGLE  */

main.theme2 .toggle span {
    color:  hsl(60, 10%, 19%);
}

main.theme2 .tri-state-toggle input {
    background-color: hsl(25, 98%, 40%);
}

main.theme2 .tri-state-toggle {
    background-color: hsl(0, 5%, 81%);
}

main.theme2 .tri-state-toggle label {
    color:  hsl(60, 10%, 19%);
}



/* CALCULATOR  */

main.theme2 .calculator-head p {
    color:  hsl(60, 10%, 19%);
}

main.theme2 .result {
    background-color: hsl(0, 0%, 93%);
    color:  hsl(60, 10%, 19%);
}

main.theme2 .keys-box {
    background-color: hsl(0, 5%, 81%);
}

main.theme2 .keys {
    background-color: hsl(45, 7%, 89%);
    box-shadow: 0px 4px 0px hsl(35, 11%, 61%);
    color:  hsl(60, 10%, 19%);
}

main.theme2 .keys:hover {
    background-color: white;
}

main.theme2 #delete, main.theme2 #reset {
    background-color: hsl(185, 42%, 37%);
    box-shadow: 0px 4px 0px hsl(185, 58%, 25%);
    color: white;
}

main.theme2 #reset:hover,
main.theme2 #delete:hover {
    background-color: hsla(185, 41%, 56%, 1);
    ;
}

main.theme2 #egal {
    background-color: hsl(25, 98%, 40%);
    box-shadow: 0px 4px 0px hsl(25, 99%, 27%);
    color: white;
}

main.theme2 #egal:hover {
    background-color: hsla(25, 100%, 61%, 1);
}





/* THEME 3  */

main.theme3 {
    background-color: hsl(268, 75%, 9%);
}

/* TOGGLE  */

main.theme3 .toggle span {
    color:  hsl(52, 100%, 62%);
}

main.theme3 .tri-state-toggle input {
    background-color: hsl(176, 100%, 44%);
}

main.theme3 .tri-state-toggle {
    background-color: hsl(268, 71%, 12%);
}

main.theme3 .tri-state-toggle label {
    color:  hsl(52, 100%, 62%);
}



/* CALCULATOR  */

main.theme3 .calculator-head p {
    color:  hsl(52, 100%, 62%);
}

main.theme3 .result {
    background-color: hsl(268, 71%, 12%);
    color:  hsl(52, 100%, 62%);
}

main.theme3 .keys-box {
    background-color: hsl(268, 71%, 12%);
}

main.theme3 .keys {
    background-color: hsl(268, 47%, 21%);
    box-shadow: 0px 4px 0px hsl(290, 70%, 36%);
    color:  hsl(52, 100%, 62%);
}

main.theme3 .keys:hover {
    background-color: hsla(268, 54%, 44%, 1);
}

main.theme3 #delete, main.theme3 #reset {
    background-color: hsl(281, 89%, 26%);
    box-shadow: 0px 4px 0px hsl(285, 91%, 52%);
    color:  hsl(52, 100%, 62%);
}

main.theme3 #reset:hover,
main.theme3 #delete:hover {
    background-color: hsla(280, 56%, 44%, 1);
    ;
}

main.theme3 #egal {
    background-color: hsl(176, 100%, 44%);
    box-shadow: 0px 4px 0px hsl(177, 92%, 70%);
    color:  hsl(52, 100%, 62%);
}

main.theme3 #egal:hover {
    background-color: hsla(177, 100%, 79%, 1);
}




/* FOOTER  */

footer {
    padding: 10px 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}



/* MEDIA QUERIES  */

@media screen and (max-width: 450px) {
    
    .calculator {
        width: 350px;
        height: 80%;
    }
    .keys-box {
        display: grid;
        grid-template-columns: repeat(4, minmax(40px, 1fr));
        gap: 20px;
        grid-template-rows: repeat(5, minmax(50px, 1fr));
    }
}



